<p-toast></p-toast>

<p-dialog header="{{dialogTitle}}" [modal]="true" [(visible)]="displayItemDialog" [style]="{ width: '40rem' }"
    (onHide)="hideItemDialog()">
    <form [formGroup]="itemForm">

        <!-- Title -->
        <div class="flex flex-column mb-2">
            <label for="title" class="font-semibold w-24">Title</label>
            <input pInputText id="title" class="flex-auto" autocomplete="off" formControlName="title" />
            <div *ngIf="
            itemForm.controls['title'].invalid &&
              (itemForm.controls['title'].dirty ||
              itemForm.controls['title'].touched)
            " class="alert" [style]="{ color: 'red' }">
                <small *ngIf="itemForm.controls['title'].errors?.['required']" class="p-error block mt-2">
                    Title is required
                </small>
            </div>
        </div>

        <!-- Description -->
        <div class="flex flex-column mb-3">
            <label for="description" class="font-semibold w-24">Description</label>
            <input pInputText id="description" class="flex-auto" autocomplete="off" formControlName="description" />
            <div *ngIf="
            itemForm.controls['description'].invalid &&
              (itemForm.controls['description'].dirty ||
              itemForm.controls['description'].touched)
            " class="alert" [style]="{ color: 'red' }">
                <small *ngIf="itemForm.controls['description'].errors?.['required']" class="p-error block mt-2">
                    Description is required
                </small>
            </div>
        </div>

        <!-- Skills Applied -->
        <div class="flex flex-column mb-3">
            <label for="skillsApplied" class="font-semibold w-24">Skills Applied</label>
            <input pInputText id="skillsApplied" class="flex-auto" autocomplete="off" formControlName="skillsApplied" />
            <div *ngIf="
                    itemForm.controls['skillsApplied'].invalid &&
                      (itemForm.controls['skillsApplied'].dirty ||
                      itemForm.controls['skillsApplied'].touched)
                    " class="alert" [style]="{ color: 'red' }">
                <small *ngIf="itemForm.controls['skillsApplied'].errors?.['required']" class="p-error block mt-2">
                    Skills applied are required
                </small>
            </div>
        </div>

        <!-- Lessons Learned -->
        <div class="flex flex-column mb-3">
            <label for="lessonsLearned" class="font-semibold w-24">Lessons Learned</label>
            <input pInputText id="lessonsLearned" class="flex-auto" autocomplete="off"
                formControlName="lessonsLearned" />
            <div *ngIf="
            itemForm.controls['lessonsLearned'].invalid &&
              (itemForm.controls['lessonsLearned'].dirty ||
              itemForm.controls['lessonsLearned'].touched)
            " class="alert" [style]="{ color: 'red' }">
                <small *ngIf="itemForm.controls['lessonsLearned'].errors?.['required']" class="p-error block mt-2">
                    Lessons learned are required
                </small>
            </div>
        </div>

        <!-- Date Completed -->
        <div class="flex flex-column mb-3">
            <label for="dateCompleted" class="font-semibold w-24">Date Completed</label>
            <p-datepicker id="dateCompleted" formControlName="dateCompleted" dateFormat="mm-dd-yy" styleClass="w-full"
                [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
            <div *ngIf="
                    itemForm.controls['dateCompleted'].invalid &&
                      (itemForm.controls['dateCompleted'].dirty ||
                      itemForm.controls['dateCompleted'].touched)
                    " class="alert" [style]="{ color: 'red' }">
                <small *ngIf="itemForm.controls['dateCompleted'].errors?.['required']" class="p-error block mt-2">
                    Date Completed is required
                </small>
            </div>
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="{{actionButtonTitle}}" (click)="onSubmitItem()" />
            <p-button label="Cancel" severity="secondary" (click)="hideItemDialog()" />
        </div>
    </form>
</p-dialog>