<p-toast></p-toast>
<p-confirmdialog></p-confirmdialog>

<div class="flex align-items-center justify-content-between px-4">
  @if(category$ | async; as category) {
  <h2>{{ category.category }}</h2>
  }
  <p-button icon="pi pi-plus" [rounded]="true" (click)="showProjectDialog(null)" />
</div>

@for (project of projects$ | async; track project) {
<div class="px-4 mb-4">
  <p-card [style]="{ backgroundColor: 'rgba(0,0,0,0.1)' }">
    <div class="flex align-items-center justify-content-between">
      <div class="" (click)="goToProjectDetails(project);">
        <h4>{{ project.title }}</h4>
        <p>{{project.description}}</p>
      </div>
      <div class="flex">
        <p-button icon="pi pi-pencil" severity="secondary" [rounded]="true" [outlined]="true" class="mr-3"
          (click)="showProjectDialog(project)" />
        <p-button (click)="deleteProjectPopup(project)" icon="pi pi-trash" severity="danger" [rounded]="true"
          [text]="true" />
      </div>
    </div>
  </p-card>
</div>
} @empty {
<div>There are no projects.</div>
}

<app-project-form *ngIf="displayProjectDialog" [currentProject]="currentProject"
  [displayProjectDialog]="displayProjectDialog" (projectDialogStatus)="showProjectDialogToggle($event)"
  (refreshData)="refreshData($event)" [categoryId]="categoryId">
</app-project-form>